<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BIRTHSTONE</title>
  <!-- Custom CSS -->
  <link href="static/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Header -->
  <div class="intro-header">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Birthstone Generator</h1>
            <h2>Input your birth month and find your birthstone!</h2>
            <hr class="intro-divider">
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>

  <div class="container">
    <!--CODE YOUR FORM HERE!-->
    <h1> Put in your birthstone information here. </h1>
    <form method="post" action="/results">
      <label for="birthMonth">What is your birth month?</label>
      <input type='text' name='birthMonth'>
      <input type='submit'>
    </form>
  </div>
  <!-- /.content-section-a -->

</body>

</html>
